
@{
    ViewData["Title"] = "Expenses";
}

@model SpendSmart.Models.ViewModels.ExpensesViewModel

<div class="text-center">
    <h1 class="display-4">Expenses</h1>
    <br/>
    <hr/>

    <div>
        <h3>Total Expenses  $@ViewBag.Expenses</h3>
        <div style="display: flex; justify-content: flex-end;">
            <a asp-controller="Home" asp-action="DownloadReport" class="btn btn-secondary">Download Report</a>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.selectedYear, (new SelectList(Model.Years)), "--- Select an Option ---", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.selectedMonth, (new SelectList(Model.Months)), "--- Select an Option ---", new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <a asp-controller="Home" asp-action="Expenses" class="btn btn-secondary">Filter</a>
        </div>
    </div>
    <div style="display: flex; justify-content: flex-end;">
        <a asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-secondary">AddExpense</a>
    </div>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Value
                </th>
                <th>
                    Description
                </th> 
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var expense in Model.Expenses)
                {
                    <tr>
                        <td>
                             @expense.Date
                        </td>
                        <td>
                            @expense.Value
                        </td>
                        <td>
                            @expense.Description
                        </td>
                        <td>
                            <a asp-action="EditExpense" asp-route-id="@expense.Id">Edit</a>
                            <a asp-action="DeleteExpense" asp-route-id="@expense.Id">Delete</a>
                        </td>
                    </tr>
                }
            }   
        </tbody>
    </table>
</div>

